.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424246;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

button:disabled {
  opacity: 0.2;
  cursor: default;
}

button:not(:disabled):hover {
  background-color: #697181;
}
button:not(:disabled):active {
  background-color: #555d6d;
}

.button[class*=enabled-power-button] svg {
  filter: brightness(0) saturate(100%) invert(94%) sepia(3%) saturate(5511%) hue-rotate(70deg) brightness(88%) contrast(76%);
}

.button[class*=enabled-sleep-mode-button] svg {
  filter: brightness(0) saturate(100%) invert(92%) sepia(87%) saturate(630%) hue-rotate(320deg) brightness(92%) contrast(120%);
}

.button[class*=enabled-vu-button] svg {
  filter: brightness(0) saturate(100%) invert(46%) sepia(46%) saturate(3495%) hue-rotate(201deg) brightness(100%) contrast(92%);
}

.button[class*=progress] svg {
  visibility: hidden;
  opacity: 0;
}

.button[class*=progress]:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #9e9e9e;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}