html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: #2d2e32;
  color: #ccc;
  box-sizing: border-box;
}

.container {
  height: 70%;
  min-width: 300px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
}

.left :not(:last-child) {
  margin-bottom: 16px;
}

.right {

}

.card {
  background-color: #25262a;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1 1;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.log {
  width: 70%;
  border: solid;
}

.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none;
  /* color: white;  */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 4px;
  width: 64px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.expander {
  flex-grow: 1;
}
