html {
  height: 100%;
}

body {
  display: grid;
  place-content: center center;
  height: 100%;
  width: 100%;
  background-color: #2d2e32;
  color: #9e9e9e;
  margin: 0;
  font-family: 'Courier New';
  grid-auto-columns: 500px;
}

* {
  box-sizing: border-box;
}

#form {
  position: relative;
  display: grid;
  padding: 16px;
}

@media only screen and (max-width:550px) {
  body {
    grid-auto-columns: 100%;
  }
}

#form > div {
  display: grid;
}

h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  cursor: default;
}

label {
  margin-left: 16px;
  margin-bottom: 4px;
  font-size: 14px;
}

input{
  font-family: 'Courier New';
  font-size: 14px;
  height: 55px;
  border: 1px solid #64f4ab;
  border-radius: 14px;
  background-color: #25262a;
  padding: 0 10px 0 25px;
  color: #fff;
}

input:focus {
  outline: none;
}

.error > *:not(input){
  color: #f44336;
  border-color: #f44336;
}

.error > input {
  border-color: #f44336;
}

.helper-text {
  margin-left: 16px;
  padding: 4px 0;
  font-size: 14px;
}

button {
  justify-self: center;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 44px;
  border: none;
  border-radius: 18px;
  font-family: 'Courier New';
  font-size: 16px;
  background-color: #25262a;
  color: #5ad898;
}

button:not(:disabled):hover {
  background-color: #fecd1a;
  color: #1a1a1d;
  cursor: pointer;
  transition: 0.5s;
}

button[disabled] {
  opacity: 0.5;
}

#save-result {
  justify-self: center;
  color: #64f4ab;
  text-align: center;
}

#save-result[class*=error] {
  color: #f44336;
}

#save-result[class*=success] {
  color: #64f4ab;
}